[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pymilvus = "==2.0.0rc8"
tqdm = "*"
numpy = "*"
imagehash = "*"
imagededup = "*"
fastapi = "*"
uvicorn = "*"
gunicorn = "*"
alembic = "*"
sqlalchemy = "*"
python-multipart = "*"
psycopg2 = "*"
pinecone-client = "*"

[dev-packages]

[requires]
python_version = "3.7"
