.dropzone {
  background: #aaaaaa;
  padding: 30px;
  border-style: dashed;
}

.dropzoneActive {
  background: red;
}

.dropzoneInput {
  background: blue;
  color: blue;
}

.textCenter {
  background: pink;
}
.dropzoneContent {
  background: cyan;
}
